@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,700&family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 20px;
}
h1 {
  /* font-size: 562.5%; 90 / 16 = 5,625 * 100 = 562,5 */
  /* font-size: 90px; 90 / 16 = 5,625 * 100 = 562,5 */
  /* font-size: 1em; */
  font-size: 2rem;
}

.tamanho {
  font-size: 5rem;
  padding-left: 4rem;
}

.tamanho span {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Poppins", sans-serif;
}

a {
  color: red;
}

.telefone {
  color: orange;
}

#telefone {
  color: blue;
  background-color: red;
}

body {
  color: chocolate;
}

body header span {
  color: blueviolet;
}
